[Mysql]
Db = "Yearning_go"
Host = "127.0.0.1"
Port = "3306"
Password = "xxxxxxx"
User = "root"

[General]
# SecretKey 是 JWT 签名与数据源口令加密的主密钥，一旦泄露等同于交出全部数据库凭据。
# 必须替换为随机字符串（建议 32 字符以上），不要使用模板中的示例值，也不要提交到仓库。
# 生成方式：openssl rand -base64 32 （或用环境变量 SECRET_KEY 注入）
SecretKey = "CHANGE_ME_PLEASE_USE_RANDOM_32_CHARS"
RpcAddr = "127.0.0.1:50001" # SQL checker rpc server address
LogLevel = "info"  # debug,info,warn,error
Lang = "en_US"  # en_US,zh_CN

[Oidc]
Enable = false
ClientId = "yearning"
ClientSecret = "fefehelj23jlj22f3jfjdfd"
Scope = "openid profile"
AuthUrl = "https://keycloak.xxx.ca/auth/realms/master/protocol/openid-connect/auth"
TokenUrl = "https://keycloak.xxx.ca/auth/realms/master/protocol/openid-connect/token"
UserUrl = "https://keycloak.xxx.ca/auth/realms/master/protocol/openid-connect/userinfo"
RedirectUrL = "http://127.0.0.1:8000/oidc/_token-login"
UserNameKey = "preferred_username"
RealNameKey = "name"
EmailKey = "email"
SessionKey = "session_state"
